@import "tailwindcss";

@keyframes borderMove {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.animate-border {
    background-size: 200% 200%;
    animation: borderMove 3s linear infinite;
}