# Backend
/backend/__pycache__/
/backend/.venv/
/backend/.mypy_cache/
/backend/.pytest_cache/

# Frontend
/frontend/node_modules/
/frontend/.next/
/frontend/out/
/frontend/next.config.ts

# Env
.env
/backend/.env
/frontend/.env*
!.env.example
